


@media only screen and (max-width: 1200px) {
  .sitting-box {
    position: absolute;
    width: 100%;
    padding: 0 2%;
    transform: translate(-50%, -50%);
  }

  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body { font-size: 18px;}
  .row {
    padding: 0 4%;
  }

  .footer-nav {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  body { font-size: 16px;}
  .row {
    padding: 0 4%;
  }

  .footer-nav {
    margin-top: 15px;
  }
}


@media only screen and (max-width: 480px) {
  body { font-size: 14px;}
  .row {
    padding: 0 4%;
  }
  .box {
    padding-bottom: 4%;
    padding-top: 5%;
    margin-top: : 4%;
    margin-bottom: 4%;
  }

  h2 {
    font-size: 180%;
  }
  p {
    font-size: 120%;
  }
  p2 {
    font-size: 120%;
  }

  h4 {
    font-size:140%;
  }

  .date {
    font-size:140%;
    margin-left: 20px;
  }


  .footer-nav {
    margin-top: 15px;
  }

  .box {
    height: auto;
  }

  .headero {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(images/lanz_photo_2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

  }
}

/*
@media only screen and (max-width: 767px) {
  body {font-size:16px;}
  section {padding: 30px 0;}

  .row,
  .sitting-box {
    padding: 0 4%;
  }
  .grey {
    padding:0 0;
  }

  .col {
    width: 100%;
  }

  h1 { font-size: 180%;}
  h2 { font-size: 150%;}
}

@media only screen and (max-width: 480px) {
  body {font-size:16px;}
  section {padding: 30px 0;}

  .grey {
    padding:0 0;
  }

  .row,
  .sitting-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
  }

  h1 { font-size: 300%;}
  h2 { font-size: 150%;}
}
*/
