


@media only screen and (max-width: 1200px) {
  .sitting-box {
    position: absolute;
    width: 100%;
    padding: 0 2%;
    transform: translate(-50%, -50%);
  }

  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body { font-size: 18px;}
  .row {
    padding: 0 4%;
  }

  .footer-nav {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  body { font-size: 16px;}
  .row {
    padding: 0 4%;
  }

  .footer-nav {
    margin-top: 15px;
  }
}


@media only screen and (max-width: 480px) {
  body { font-size: 14px;}
  .row {
    padding: 0 4%;
  }
  .box {
    padding-bottom: 4%;
    padding-top: 5%;
    margin-top: : 4%;
    margin-bottom: 4%;
  }

  h2 {
    font-size: 180%;
  }
  p {
    font-size: 120%;
  }
  p2 {
    font-size: 120%;
  }

  h4 {
    font-size:130%;
  }
  h2:after {
      display: block;
      height: 2px;
      background-color: #76b900;
      content: " ";
      width: 100px;
      margin: 0 auto;
      margin-top: 15px;
  }

  .footer-nav {
    margin-top: 15px;
  }

}

/*
@media only screen and (max-width: 767px) {
  body {font-size:16px;}
  section {padding: 30px 0;}

  .row,
  .sitting-box {
    padding: 0 4%;
  }
  .grey {
    padding:0 0;
  }

  .col {
    width: 100%;
  }

  h1 { font-size: 180%;}
  h2 { font-size: 150%;}
}

@media only screen and (max-width: 480px) {
  body {font-size:16px;}
  section {padding: 30px 0;}

  .grey {
    padding:0 0;
  }

  .row,
  .sitting-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
  }

  h1 { font-size: 300%;}
  h2 { font-size: 150%;}
}
*/
