body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: rgba(245, 245, 235, 0.898);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 87.5%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}